$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;

.title {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: $font-family-monospace;
  font-weight: 900;
  height: 858px;
}

.heading1 {
  position: absolute;
  top: 50%;
}
