.imgBg {
  background-color: #000;
}

.cardMargin {
  margin-bottom: 4rem;
  background-color: #b0c9cbad;
}

.popUpModal {
  position: fixed;
  z-index: 1;
  left: 30rem;
  bottom: 15rem;
}

.popUpModalHidden {
  visibility: hidden;
}
