.title {
  z-index: -10;
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 4.5px; }

.parallaxHider {
  background-color: #faf9f5; }

.headings2 {
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem; }

.background1 {
  background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat; }

.background2 {
  background-image: url("https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); }

.primaryBodyContainer {
  width: 100%; }

.aboutMe {
  position: relative;
  bottom: 12rem; }

.projects {
  text-align: center; }

.popUpModal {
  z-index: 1;
  bottom: 14rem;
  overflow: hidden;
  position: absolute;
  left: 28rem; }

footer {
  margin-bottom: 5rem;
  margin-top: 3rem; }

.noBorder {
  border-bottom: none;
  background-color: transparent;
  border: none; }

.paragraphWidth {
  margin-bottom: 6rem;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  text-align: justify; }

.aboutMeBg {
  background-color: #faf9f5;
  max-width: 65rem;
  margin: auto;
  padding: 0; }

.aboutMeFooter {
  background-color: #b0c9cbad;
  margin: none; }

.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .shadow:hover {
    box-shadow: 0 6px 28px rgba(0, 0, 0, 0.25), 0 6px 10px rgba(0, 0, 0, 0.22); }
